.reset(@bgColor:#ffffff,@width:1000){
    *{border-image-source: initial;  border-image-slice: initial;  border-image-width: initial;  border-image-outset: initial;
    border-image-repeat: initial;  font-family: 微软雅黑;  text-decoration: none;  -webkit-tap-highlight-color: transparent;  margin: 0px;
    padding: 0px;  border-width: 0px;  border-color: initial;  border-style: none;  list-style: none;  outline: none;}
    body{overflow-x: hidden; background-color: @bgColor;}
    html{min-width: 1000px;}
    img{width: 100%;display: block;}
    a{color: inherit;}
    .box{min-width: @width+0px};
}
.P(){
    p{font-family: PingFangSC;font-style: normal;font-stretch: normal;letter-spacing: normal;}
}
.active(){
	.yes {display: none;}
	.no {display: block;}
	.active .yes {display: block;}
	.active .no {display: none;}
}
.resetP(){
    p{text-overflow: ellipsis; width: 100%; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;}
}
.resetP(@num:1){
    text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box; 
	-webkit-line-clamp: @num;
	-webkit-box-orient: vertical;
	//word-break:keep-all;//IE6
	white-space: nowrap;
	text-overflow: ellipsis;
}
.pr(){
    position: relative;
}
.pa(){
    position: absolute;
}
.pf(){
    position: fixed;
}
.db(){
    display: block;
}
.dn(){
    display: none;
}
.main(@top_y, @left_x, @width_w) {
    position: absolute;
    top: @top_y+0px;
    left: @left_x+0px;
    width: @width_w+0px;
}
.mainContent(@top_y, @width_w, @max_W : @W, @max_H : @H){
    position: absolute;
    top: @top_y+0px;
    .leftContent(@width_w, @max_W);
    width: @width_w+0px;
}
.leftContent(@x, @box_W : @W){    
    left : (@box_W - @x) / 2 + 0px;
}
.main2(@top_y, @left_x) {
    position: absolute;
    top: @top_y+0px;
    left: @left_x+0px;
}
.mainP(@t){
    .pa();
    top: @t+0px;
    width: 100%;
    text-align: center;
}
.pfmain(@z){
    .pf();
    z-index: @z;
    width: 100%;
    height: 100%;
}
.fontCut(){
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
.mainPer(@top_y, @left_x, @width_w, @max_W : @W, @max_H : @H){
    position: absolute;
    .top(@top_y, @max_H);
    .left(@left_x, @max_W);
    .width(@width_w, @max_W);
}

.left(@x, @box_W : @W){
    left: @x + 0px;
}
.top(@y, @box_H : @H){
    top: @y + 0px;
}
.width(@w, @box_W : @W){
    width:@w+0px;
}
.height(@h:@H){
    height: @h+0px;
}
.bg(@url,@h:@H){
    background: url(@url) 50% no-repeat;
    .height(@H);
}

.slide3d(@width:@W){
	.slick_3d {
	  -webkit-perspective: @width;
	  perspective: @width;
	}
	.slick_3d .item {
		position: absolute;
		top: 0;
	}
	.slick_3d .container {
	  -webkit-transform-style: preserve-3d;
	  transform-style: preserve-3d;
	}
}