*{border-image-source: initial;  border-image-slice: initial;  border-image-width: initial;  border-image-outset: initial;
    border-image-repeat: initial;  font-family: 微软雅黑;  text-decoration: none;  -webkit-tap-highlight-color: transparent;  margin: 0px;
    padding: 0px;  border-width: 0px;  border-color: initial;  border-style: none;  list-style: none;  outline: none;}
body{overflow-x: hidden; background-color: #091829;}
html{min-width: 1000px;}
img{width: 100%;}